<!DOCTYPE html>
{% extends "task_app/base.html" %}
    {% block body_block%}

    <div class="jumbotron">
      <h1 class="display-4">About Me!</h1>
      <!-- <h2>Name</h2> -->
      <h2>Introduction</h2>
      <p >Hi there! I am Raghav Agarwal. My friends use to call me Ragharwal or RG.
      I am a first year students. Currently pursuing my CSE with specilization in Big Data from UPES, Dehradun.</p>
      <hr class="my-4">
      <h2>Interest</h2>
      <p>I have interest in Web development and in Big Data.</p>
      <hr class="my-4">
      <h2>Hobies</h2>
      <p>I use to do coding, photography, reading books, listening music and watching movies in my free time.</p>
      <hr class="my-4">
      <h2>Teck Stack</h2>
      <p>Python, HTML, CSS, JS, jQuery and Django.</p>
      <hr class="my-4">
      <h2>Let's Connect</h2>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/raghav-agarwal-ab0067190" role="button">linkedin</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.twitter.com/ragharwal?s=09" role="button">Twitter</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.instagram.com/raghrwal" role="button">Instagram</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.github.com/ragharwal" role="button">GitHub</a>
      </p>

    </div>


    {% endblock %}
