<!DOCTYPE html>
{% extends "task_app/base.html" %}
    {% block body_block %}
    <h1>Let's Connect!</h1>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/raghav-agarwal-ab0067190" role="button">linkedin</a>
      <a class="btn btn-primary btn-lg" href="https://www.twitter.com/ragharwal?s=09" role="button">Twitter</a>
      <a class="btn btn-primary btn-lg" href="https://www.instagram.com/raghrwal" role="button">Instagram</a>
      <a class="btn btn-primary btn-lg" href="https://www.github.com/ragharwal" role="button">GitHub</a>
    </p>
    {% endblock %}
